<div class="container paleta" style="margin-top:50px;">
    
    {{!-- fin fila 1 --}}
    {{!-- inicio fila 2 --}}
    <div class="row">
        <div class="col-2" style="margin-top:-9px;">
            <h2>Listado de Contactos</h2>
        </div>
        <div class="col-3">
            <form class="form-inline my-2 my-lg-0" action="/admin/contactos" method="get">
                <input type="search" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" name="contq" {{#if contq}} value="{{contq}}" {{/if}}>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                {{#if is_contSearch}}
                    {{#unless contactos.Length}}
                        <p class="">No se encontraron resultados para "<strong>{{contq}}</strong>"</p>
                    {{/unless}}
                {{/if}}
            </form>
        </div>
    </div>
    {{!-- fin fila 2 --}}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col">Comentario</th>
                <th scope="col" class="text-end">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {{#each contactos}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{nombre}}</td>
                <td>{{email}}</td>
                <td>{{tel}}</td>
                <td>{{mensaje}}</td>
                <td class="text-end">
                    <a href="/admin/contactos/eliminar/{{id}}" class="btn btn-secondary"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>