

<div class="container paleta" style="margin-top:50px;">
    
    {{!-- fin fila 1 --}}
    {{!-- inicio fila 2 --}}
    <div class="row">
        <div class="col-2" style="margin-top:-9px;">
            <h2>Listado de productos</h2>
        </div>
        <div class="col-10 text-end">
            <a href="/admin/productos/agregar" class="btn btn-success"><i class="fas fa-plus"></i>Nuevo</a>
        </div>
        <div class="col-3">
            <form class="form-inline my-2 my-lg-0" action="/admin/productos" method="get">
                <input type="search" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" name="prodq" {{#if prodq}} value="{{prodq}}" {{/if}}>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                {{#if is_prodSearch}}
                    {{#unless productos.Length}}
                        <p class="">No se encontraron resultados para "<strong>{{prodq}}</strong>"</p>
                    {{/unless}}
                {{/if}}
            </form>
        </div>
    </div>
    {{!-- fin fila 2 --}}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">url</th>
                <th scope="col">Especificaciones</th>
                <th scope="col">Descripcion</th>
                <th scope="col" class="text-end">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {{#each productos}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{nombre}}</td>
                <td><img src="{{url}}" alt="mouse.img"></td>

                <td>{{especificaciones}}</td>

                <td>{{descripcion}}</td>
                <td class="text-end">
                    <a href="/admin/productos/modificar/{{id}}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i> </a>
                    <a href="/admin/productos/eliminar/{{id}}" class="btn btn-secondary"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>